
/* General Desktop Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {

    color:rgb(218, 218, 218);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

    position: center;
    justify-content: center;

}

    h2{

        color:rgb(218, 218, 218);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
       
        position: center;
        justify-content: center;
        opacity: 0;
        transform: translateY(30px);
        animation: moveup 0.2s linear forwards;
    


   
}
.card-container{
    display: flex;
    justify-content: top;
    flex-wrap: wrap;
    margin-top: 50px;
    
    }
    
    .card{
        width:325px;
        background-color:#bab554d7;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(29, 226, 68, 0.2);
        margin: 10px;
    }
    .card img{

        width: 70%;
        height:  43%;
    
    }

    details{

        font: #ffffff;
    }
    
    .card-content{
        padding: 10px;
    }
    .card-content h3{
    font-size: 30px;
    
    
    }
    
    .card-content p{
    color: #ffffff;
    font-size: 15px;
    line-height: 1.3;
    position:top ;
    }

.Sections{

height: min-content;
width: fit-content;
vertical-align: middle;

    }
   

header {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 50;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}
.Welcome{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top : 10%;
    max-width: 800px;
    
    animation-delay: 1s;
}

.Welcome h1{

    font-size: 50px;
    color: #ffffff;
   
   
    
   

}
.anim{

    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
@keyframes moveup{
    100%{
opacity: 1;
transform: translateY(0px);
    }
}

.About{
    margin: 10px 50px;



}

.About img{

width:230px;
padding:5px;
filter: grayscale(100%);
transition:1s;


}
.About img:hover{
    filter: grayscale(0%);
    transform: scale(1.1)
}

.Home img{

    width:230px;
    padding:5px;
  
    transition:1s;
    
    
    }



    #myVideo{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1; 
        object-fit: cover; 
    
    }
    .img_www{
    
    }    
    

main {
    width: 80%;
    margin: 20px auto;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color:#67656170;
    color: white;
    text-align: bottom;
    padding: 50px;
}

/* Responsive Styling for Mobile */
@media (max-width: 960px) {
    main {
        width: 95%;
    }
   
    nav ul li {
        display: block;
        margin: 20px 0;
    }
    
    header, footer {
        padding: 20px;
        text-align: center;
    }
}
